.Pane {
  position: relative;
  z-index: 1;
}

.front {
  color: white;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../imgs/slider-bg.jpg");
  z-index: 0;
}
